SEGMENTATION_PROVIDER=grounded_sam
SEGMENTATION_LOCAL_MODEL=nvidia/segformer-b2-finetuned-ade-512-512
SEGMENTATION_GROUNDED_SAM_DETECTOR_MODEL=IDEA-Research/grounding-dino-tiny
SEGMENTATION_GROUNDED_SAM_SEGMENTER_MODEL=facebook/sam-vit-base
REPLICATE_API_TOKEN=
REPLICATE_MODEL=idea-research/ram-grounded-sam
